.container{
    form{
        .form-group{
            margin-top: 10px;

            .login-link {
                a {
                    text-decoration: none;
                    font-size: 12px;
                    float: right;
                }
            }
        }
    }
}